body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

header, nav, main, aside, footer  {
    border: 1px solid grey; margin: 5px; padding: 5px;
}

main{
    float: left;
    width: 60%;
}

aside{
    float: left;
    width: 30%;
}

footer{
    clear: both;
}